.container {
  margin: 0 auto;
  max-width: 600px;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 36px;
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  display: block;
  font-size: 18px;
  margin-bottom: 10px;
  text-align: left;
  width: 100%;
}

input[type="text"],
textarea {
  border: none;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
}

select {
  border: none;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
}

input[type="file"] {
  margin-bottom: 20px;
}

input[type="submit"] {
  background-color: #008cba;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #006699;
}
